body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: end;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    font-size: 15px;
}
#menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 5rem;
    padding-bottom: 1rem;
}
h5{
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(60, 60, 74);
    font-size: 18px ;
}
a{
    text-decoration: none;
    color: rgb(100, 100, 103);
    font-size: 15px;
}
ul{
    list-style-type: none;
}
li{
    padding: 9px;
}
hr{
    display: block;
}
